{% extends "users/base.html" %}
{% load static %}
<h1>Here is SignUp page</h1>
{% block title %}
sign up
{% endblock title%}

{% block content %}
<div class="main-img">
    <img src="{% static 'images/posts/logo.png'%}" alt="logo">
<div class="auth">
    <form action="{% url 'users:signup'%}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Sign up">
    </div>
    </form>
</div>
<div class="auth_link">
    <a href="{% url 'users:main' %}">Login</a>
</div>
{% endblock content %}